body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}

nav {
  min-height: 50px;
  background-color: #ffffff;
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  white-space: nowrap;
}
nav .logo {
  font-size: 30px;
}
nav .logo .logo-black {
  color: black;
  position: relative;
  left: 5px;
}
nav .logo .logo-green {
  color: #588733;
}
nav .menu {
  display: flex;
}
nav .menu .menu__link {
  margin: 0 20px;
  list-style: none;
}
nav .menu .menu__link a {
  text-decoration: none;
  color: #9d9d9d;
}
nav .login-menu {
  display: flex;
}
nav .login-menu .login-menu_sign-in {
  border-radius: 5px;
  background-color: #efefef;
  padding: 10px 0px;
}
nav .login-menu .login-menu_sign-in a {
  text-decoration: none;
  color: #588733;
  padding: 10px 25px;
}
nav .login-menu .login-menu_sign-up {
  border-radius: 5px;
  background-color: #588733;
  padding: 10px 0px;
}
nav .login-menu .login-menu_sign-up a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 25px;
}
nav .login-menu > div {
  margin: 0 10px;
}

.label {
  background-image: url(images/label.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label h1 {
  margin-top: 150px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 60px;
  max-width: 600px;
  margin-bottom: 0px;
  text-align: center;
  word-spacing: 5px;
  line-height: 100px;
}
.label h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 28px;
  max-width: 500px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}
.label .explore-button {
  border-radius: 5px;
  background-color: #588733;
  padding: 0 0;
  height: 50px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label .explore-button a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.statistics {
  display: flex;
  background-color: white;
  border-radius: 20px;
  position: relative;
  bottom: 50px;
  padding: 10px 50px;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.statistics li {
  margin: 10px 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics li .green {
  color: #588733;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-right: 30px;
}
.statistics li .normal {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 50px;
  margin-right: 40px;
}
.statistics .statistics__product-stats {
  border-left: 1px #7bc64f solid;
  border-right: 1px #7bc64f solid;
  padding: 0 40px;
}
.statistics .statistics__year-stats {
  margin-right: 40px;
}
.statistics .statistics__customer-stats {
  margin-left: 40px;
}

.categories {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.categories .categories_header {
  display: flex;
  color: #2a2a2a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 0 20px;
  justify-self: left;
  width: 100%;
}
.categories .categories_swiper {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  padding: 0 0;
}
.categories .categories_swiper .categories_card {
  position: relative;
  display: flex;
  width: 24%;
  min-height: 230px;
  min-width: 180px;
  align-items: center;
  flex-direction: column;
  list-style: nones;
  margin-right: 30px;
  padding: 0 0;
}
.categories .categories_swiper .categories_card .favourites-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  background-color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories .categories_swiper .categories_card img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.categories .categories_swiper .categories_card .best-furniture {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.categories .categories_swiper .categories_card .description-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  object-fit: cover;
  padding: 10px 10px;
  align-self: flex-start;
}
.categories .categories_swiper .categories_card .description-card .description {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 5px;
}
.categories .categories_swiper .categories_card .description-card .rating {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: rgba(124, 121, 121, 0.6784313725);
  font-weight: 400;
  margin-bottom: 5px;
  white-space: nowrap;
}
.categories .categories_swiper .categories_card .text-card {
  position: absolute;
  width: 80%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(252, 252, 252, 0.37);
  border-radius: 10px;
  padding: 15px 15px;
  backdrop-filter: blur(4px);
}
.categories .categories_swiper .categories_card .text-card .categories_card-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: calc(16px + 8 * (100vw - 1024px) / 1920);
  color: #ffffff;
  text-align: center;
}
.categories .categories_swiper .categories_card .text-card .smaller {
  font-size: 14px;
}

.about {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.about .about__label-img {
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(80%);
  width: 50vw;
  height: 30vw;
}
.about .about__side-description {
  padding: 0 calc(50px + 200 * (100vw - 1024px) / 1920);
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
.about .about__side-description > * {
  margin-bottom: calc(20px + 40 * (100vw - 1024px) / 1920);
}
.about .about__text_green {
  font-weight: 700;
  font-size: calc(20px + 60 * (100vw - 1024px) / 1920);
  color: #588733;
}
.about .about__text_bold {
  font-weight: 700;
  font-size: calc(24px + 60 * (100vw - 1024px) / 1920);
  color: #201e1e;
}
.about .about__text_small {
  font-weight: 500;
  font-size: calc(14px + 30 * (100vw - 1024px) / 1920);
  color: #201e1e;
  padding-right: 30px;
  margin-bottom: calc(30px + 30 * (100vw - 1024px) / 1920);
}
.about .about__buttons-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
}
.about .about__buttons-holder .about__button_bordered {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 0;
  height: calc(40px + 40 * (100vw - 1024px) / 1920);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #588733;
}
.about .about__buttons-holder .about__button_bordered a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #588733;
  font-size: calc(16px + 8 * (100vw - 1024px) / 1920);
  padding: 10px 30px;
  text-decoration: none;
  white-space: nowrap;
}
.about .about__buttons-holder .about__button_full {
  border-radius: 5px;
  background-color: #588733;
  padding: 0 0;
  height: calc(40px + 40 * (100vw - 1024px) / 1920);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.about .about__buttons-holder .about__button_full a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: calc(16px + 8 * (100vw - 1024px) / 1920);
  padding: 10px 30px;
  text-decoration: none;
  white-space: nowrap;
}

/*# sourceMappingURL=styles.css.map */
